/* Write your code here. */
.age-calculator-app-container {
  background-image: linear-gradient(to right, #43cbff, #9708cc);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.age-calculator-container {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.person-img {
  width: 50%;
}
.heading {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #171f46;
  margin-bottom: 20px;
}
.input-text {
  width: 300px;
  height: 30px;
  border: 1px solid #171f46;
  outline: none;
  border-radius: 5px;
}
.button {
  background-image: linear-gradient(to right, #43cbff, #9708cc);
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
  font-family: 'Roboto';
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 15px;
}

.error-message {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  width: 100%;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .error-message {
    width: 320px;
  }
}

.calculated-age-text {
  text-align: center;
  color: #8e1dd2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin-top: 32px;
}
